main {
    background-color: #F6F6F6;
    width: 1240px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    overflow: scroll;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    height: 1095px;
}

main article {
    flex-direction: column;
    width: 340px;
    height: 340px;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

main section {
    justify-content: space-evenly;
    gap: 40px;
    width: 1240px;
    height: 450px;
    flex-wrap: wrap;
}

main article img {
    height: 340px;
    width: 340px;
    border-radius: 30px;
}

article span {
    color: #FFFF;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    white-space: wrap;
    width: 200px;
    text-align: left;
}

article a {
    height: 340px;
}

main section article a::before {
    bottom: 0px;
    box-shadow: 1px -93px 52px -54px rgba(0,0,0,0.75) inset;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 360px /*même largeur que la div precedente*/;
}