main {
    background-color: #F6F6F6;
    width: 1240px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    overflow: scroll;
}

main article {
    flex-direction: column;
    width: 340px;
    height: 340px;
}

main section {
    justify-content: space-between;
    gap: 50px;
    width: 1240px;
    height: 450px;
    flex-wrap: wrap;
}

main article img {
    height: 340px;
    width: 340px;
    border: 2px solid black;
}

article span {
    color: black;
}