h1 {
    width: 597px;
    height: 263px;
    font-weight: 700;
    font-size: 288px;
    line-height: 410.69px;
    color: #FF6060;    
}

p {
    font-weight: 500;
    font-size: 36px;
    line-height: 51.34px;
    width: 872px;
    height: 51px;
    color: #FF6060;
}