html, body, main, section, header, article, footer {
    display: flex;
}

html, body {
    flex-direction: column;
    margin: 0 auto;
}

header {
    justify-content: space-between;
    width: 1240px;
    margin: 0 auto;
    color: black;
}

header img#logo {
    width: 210px;
    height: 68px;
}

img#imageFond {
    height: 223px;
    width: 1240px;
}

div.imageHeader {
    margin: 0 auto;
    display: flex;
}

header nav {
    display: flex;
}

header nav ul, header nav ul li {
    display: flex;
}

header nav ul {
    justify-content: space-around;
}

header nav ul {
    align-self: center;
    width: 309px;
}