@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

* {
    font-family: "Montserrat";
}

html, body, main, section, header, select, aside, article, footer {
    display: flex;
    font-family: "Montserrat";
    
}

html, body {
    flex-direction: column;
    margin: 0 auto;
}

header {
    justify-content: space-between;
    width: 1240px;
    margin: 0 auto;
}

header img#logo {
    width: 210px;
    height: 68px;
}

header nav {
    display: flex;
}

header nav ul, header nav ul li {
    display: flex;
}

header nav ul {
    justify-content: space-around;
}

header nav ul {
    align-self: center;
    width: 309px;
}

main {
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    justify-content: space-around;
}

main h1 {
    font-weight: 700;
    font-size: 288px;
    line-height: 410.69px;
    color: #FF6060;
    margin: 0px;
}

main p {
    color: #FF6060;
    font-weight: 500;
    font-size: 36px;
    line-height: 51.34px;
}

main a {
    color: #FF6060;
    font-weight: 500;
    font-size: 18px;
    line-height: 25.67px;
}

footer {
    background-color: black;
    margin: 0 auto;
    justify-content: space-between;
    width: 1440px;
    padding: 66px 464px 29px 463px;
    height: 114px;
    width: 513px;
    flex-direction: column;
}

footer span {
    color: white;
    display: flex;
}

footer img {
    width: 122px;
    height: 39.4px;
}