html, body, main, section, header, article, footer {
    display: flex;
}

html, body {
    flex-direction: column;
    margin: 0 auto;
}

header {
    justify-content: space-between;
    width: 1240px;
    margin: 0 auto;
}

header img#logo {
    width: 210px;
    height: 68px;
}

img#imageFond {
    height: 223px;
    width: 1240px;
}

div.imageHeader {
    margin: 0 auto;
    display: flex;
}

header nav {
    display: flex;
}

header nav ul, header nav ul li {
    display: flex;
}

header nav ul {
    justify-content: space-around;
}

header nav ul {
    align-self: center;
    width: 309px;
}

main {
    background-color: #F6F6F6;
    width: 1240px;
    flex-direction: column;
    align-items: center;
    height: 829px;
    justify-content: space-evenly;
    margin: 0 auto;
}

main article {
    flex-direction: column;
}

main section {
    justify-content: space-between;
    gap: 50px;
}

main article img {
    height: 340px;
    width: 340px;
    border: 2px solid black;
}

footer {
    background-color: black;
    margin: 0 auto;
    justify-content: space-between;
    width: 1440px;
    padding: 66px 464px 29px 463px;
    height: 114px;
    width: 513px;
    flex-direction: column;

}

footer span {
    color: white;
    display: flex;
}

footer img {
    width: 122px;
    height: 39.4px;
}