div.collapse, div.collapseHeading, div.collapseContent, div#collapseContainer {
    display: flex;
} 

div#collapseContainer {
    flex-direction: column;
    height: 400px;
    justify-content: space-around;
    transition: height 2s;
}

div.collapseHeading {
    background-color: #FF6060;
    border: 3px solid black;
    justify-content: space-around;
}

@keyframes collapseAnimation 
{
    from 
    {
        height: 0px;
    }

    to 
    {
        height: 70px;
    }
}

div.collapseContent {
    background-color: aqua;
    height: 0px;
    animation: collapseAnimation 1s ease-in-out forwards;
}

button.button svg, button.button svg path {
    position: absolute;
    display: flex;
    height: 40px;
    width: 40px;
    color: #FFFF;
}

h4 {
    color: #FFFF;
}

div.collapse {
    flex-direction: column;
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    height: max-content;
    transition: height 1s ease-in-out;
}




/* quand une classe ou id en css est appeller 
et qu'il y a une ou plusieurs regles css appliquer et fonctionnel,
 et qu'on re-appelle cette meme claase ou id 
 avec les meme regles mais avec des valeurs differentes
  appliquer au declenchement d'un evenement
   alors les premieres regles sont ignorer pour appliquer la 2e regle  */
button {
    width: 10px;
    height: 10px;
    display: flex;
    position: relative;
    background-color: #FF6060;
    border: 0px;
    border-radius: 10px;
}

