div#tag {
    display: flex;
    width: 365px;
    height: 25px;
    justify-content: space-between;
}

div#tag span {
    width: 115px;
    height: 25px;
    background-color: #FF6060;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
}