div#banner {
    width: 1240px;
    height: 223px;
    overflow: hidden;
    border-radius: 50px;
    opacity: 0.7;
    
}

div#banner img {
    position: relative;
    bottom: 250px;
}

div#banner p {
    /* display: flex; */
    position: relative;
    z-index: 100;
    color: #FFFF;
    width: max-content;
    line-height: normal;
    height: min-content;
    
}